@{
    Layout = "_LayoutLogado";
    ViewData["Title"] = "Logado - Produtos";
}

<div class="container">
    <div class="row">
        <div class="col-4">
            <h3>Preview</h3>
            <img src="~/image/defaultProduto.png" class="rounded float-start" alt="...">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </div>
        <div class="col-8 pl-1">
            <h3>Adicionar novo produto</h3>
        </div>
    </div>
</div>

<!--
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - Ecommerce - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
 -->
