@{
    Layout = "_LayoutLogado";
    ViewData["Title"] = "Logado - Produtos";
}

<div class="text-center">
    <h1 class="display-4">Logado - Listagem dos produtos </h1>
</div>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - Ecommerce - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>