@model LoginModel
@{ 
    ViewData["Title"] = "Login";
}

<form asp-controller="Login" asp-action="Entrar" method="post">

    <label>Matricula do usuario </label>
    <input type="number" name="Matricula" />
    @Html.ValidationMessageFor(x => x.Matricula)

    <label>Senha:</label>
    <input type="password" name="Senha" />
    @Html.ValidationMessageFor(x => x.Senha)
    <input type="submit" value="Enviar" />

</form>