
/*=========== estilizando login  ===================== */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*----------- estilizando login          ---------------- */
 
/* Coluna da esqueda */
html, body {
    height: 100%;
}

.container-fluid {
    height: calc(100vh - 60px) !important;
}

.main .formlogin {
    background-color: #A6C36F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group input, button {
    width: 289px;
    border-radius: 20px;
}
.btn {
    background-color: #05552E !important;
    color: white;
    border-radius: 30px;
}

 /* Coluna da direita */
.main_img {
    background-color: #05552E;
    display: flex;
    align-items: center;
    justify-content: center;
}

